<a href=@@webRoot/translate/SnapBackup_sq.properties.txt>Albanian (Shqip)       <img src=@@webRoot/graphics/language-sq.png alt=sq></a><br>
<a href=@@webRoot/translate/SnapBackup_nl.properties.txt>Dutch (Nederlands)     <img src=@@webRoot/graphics/language-nl.png alt=nl></a><br>
<a href=@@webRoot/translate/SnapBackup_en.properties.txt>English                <img src=@@webRoot/graphics/language-en.png alt=en></a><br>
<a href=@@webRoot/translate/SnapBackup_eo.properties.txt>Esperanto              <img src=@@webRoot/graphics/language-eo.png alt=eo></a><br>
<a href=@@webRoot/translate/SnapBackup_fr.properties.txt>French (Français)      <img src=@@webRoot/graphics/language-fr.png alt=fr></a><br>
<a href=@@webRoot/translate/SnapBackup_de.properties.txt>German (Deutsch)       <img src=@@webRoot/graphics/language-de.png alt=de></a><br>
<a href=@@webRoot/translate/SnapBackup_id.properties.txt>Indonesian (Bahasa)    <img src=@@webRoot/graphics/language-id.png alt=id></a><br>
<a href=@@webRoot/translate/SnapBackup_it.properties.txt>Italian (Italiano)     <img src=@@webRoot/graphics/language-it.png alt=it></a><br>
<a href=@@webRoot/translate/SnapBackup_ko.properties.txt>Korean (한국어)          <img src=@@webRoot/graphics/language-ko.png alt=ko></a><br>
<a href=@@webRoot/translate/SnapBackup_pt.properties.txt>Portuguese (Português) <img src=@@webRoot/graphics/language-pt.png alt=pt></a><br>
<a href=@@webRoot/translate/SnapBackup_ro.properties.txt>Romanian (Română)      <img src=@@webRoot/graphics/language-ro.png alt=ro></a><br>
<a href=@@webRoot/translate/SnapBackup_ru.properties.txt>Russian (Русский)      <img src=@@webRoot/graphics/language-ru.png alt=ro></a><br>
<a href=@@webRoot/translate/SnapBackup_es.properties.txt>Spanish (Español)      <img src=@@webRoot/graphics/language-es.png alt=es></a><br>
<a href=@@webRoot/translate/SnapBackup_sl.properties.txt>Slovene (Slovenščina)  <img src=@@webRoot/graphics/language-sl.png alt=sl></a><br>
