Albanian (Shqip)       <img src=http://snapbackup.org/graphics/language-sq.png alt=sq><br>
Dutch (Nederlands)     <img src=http://snapbackup.org/graphics/language-nl.png alt=nl><br>
English                <img src=http://snapbackup.org/graphics/language-en.png alt=en><br>
French (Français)      <img src=http://snapbackup.org/graphics/language-fr.png alt=fr><br>
German (Deutsch)       <img src=http://snapbackup.org/graphics/language-de.png alt=de><br>
Italian (Italiano)     <img src=http://snapbackup.org/graphics/language-it.png alt=it><br>
Portuguese (Português) <img src=http://snapbackup.org/graphics/language-pt.png alt=pt><br>
Romanian (Română)      <img src=http://snapbackup.org/graphics/language-ro.png alt=ro><br>
Spanish (Español)      <img src=http://snapbackup.org/graphics/language-es.png alt=es><br>
Slovene (Slovenščina)  <img src=http://snapbackup.org/graphics/language-sl.png alt=es><br>
