Albanian (Shqip)       <img src={{webRoot}}/graphics/flags/language-sq.png alt=sq><br>
Dutch (Nederlands)     <img src={{webRoot}}/graphics/flags/language-nl.png alt=nl><br>
English                <img src={{webRoot}}/graphics/flags/language-en.png alt=en><br>
Esperanto              <img src={{webRoot}}/graphics/flags/language-eo.png alt=eo><br>
German (Deutsch)       <img src={{webRoot}}/graphics/flags/language-de.png alt=de><br>
Indonesian (Bahasa)    <img src={{webRoot}}/graphics/flags/language-id.png alt=id><br>
Italian (Italiano)     <img src={{webRoot}}/graphics/flags/language-it.png alt=it><br>
Korean (한국어)          <img src={{webRoot}}/graphics/flags/language-ko.png alt=ko><br>
Portuguese (Português) <img src={{webRoot}}/graphics/flags/language-pt.png alt=pt><br>
Romanian (Română)      <img src={{webRoot}}/graphics/flags/language-ro.png alt=ro><br>
Russian (Русский)      <img src={{webRoot}}/graphics/flags/language-ru.png alt=ru><br>
Spanish (Español)      <img src={{webRoot}}/graphics/flags/language-es.png alt=es><br>
Slovene (Slovenščina)  <img src={{webRoot}}/graphics/flags/language-sl.png alt=sl><br>
