<!doctype html>
<!-- - - - - - - - - -->
<!-- Snap Backup     -->
<!-- snapbackup.org  -->
<!-- - - - - - - - - -->
<html lang=en>
<head>
<meta charset=utf-8>
<meta name=viewport                   content="width=device-width, initial-scale=1">
<meta name=apple-mobile-web-app-title content="Snap Backup">
<meta name=google-site-verification   content="ud5xLLtUoThVgnKndF7or9eGz1j77lyXiz__So5GMXc">
<title>Snap Backup &bull; @@pageTitle</title>
<link rel=icon             href=@@webRoot/graphics/bookmark.png>
<link rel=apple-touch-icon href=@@webRoot/graphics/mobile-home-screen.png>
<link rel=next             href=/download>
<link rel=publisher        href=https://plus.google.com/108837381095201598652>
<link rel=stylesheet       href=https://cdn.jsdelivr.net/fontawesome/4.7/css/font-awesome.min.css>
<link rel=stylesheet       href=https://cdn.jsdelivr.net/dna.js/1.2/dna.css>
<link rel=stylesheet       href=http://centerkey.com/css/reset.css>
<link rel=stylesheet       href=@@webRoot/hamburger-menu.css>
<link rel=stylesheet       href=@@webRoot/style.css>
</head>
<body>

<header>
   <div class=arch><div></div></div>
   <nav class=hamburger-menu data-on-load=app.hamburgerMenu>
      <a class=hamburger href=#>&#9776;</a>
      <ul>
         <li data-menu=gateway>  <a href=@@webRoot>Home</a></li>
         <li data-menu=preview>  <a href=@@webRoot/screen>Preview</a></li>
         <li data-menu=download> <a href=@@webRoot/download>Download</a></li>
         <li data-menu=faq>      <a href=@@webRoot/faq>Answers</a></li>
         <li data-menu=translate><a href=@@webRoot/translate>Translate</a></li>
         <li data-menu=about>    <a href=@@webRoot/about>About</a></li>
      </ul>
   </nav>
   <h1>Snap Backup</h1>
   <aside>
      <a href=http://snapbackup.org>
         <img src=@@webRoot/graphics/snap-backup-icon.png alt=logo>
      </a>
   </aside>
</header>
