<!doctype html>
<html lang=en>
<!-- - - - - - - - - -->
<!-- Snap Backup     -->
<!-- snapbackup.org  -->
<!-- - - - - - - - - -->
<head>
   <meta charset=utf-8>
   <meta name=viewport                   content="width=device-width, initial-scale=1">
   <meta name=robots                     content="index, follow">
   <meta name=description                content="{{pageTitle}} - Snap Backup - The one-click backup utility">
   <meta name=apple-mobile-web-app-title content="Snap Backup">
   <meta name=google-site-verification   content="ud5xLLtUoThVgnKndF7or9eGz1j77lyXiz__So5GMXc">
   <meta name=twitter:card               content="summary_large_image">
   <meta name=twitter:title              content="Snap Backup">
   <meta name=twitter:description        content="{{pageTitle}}">
   <meta property=og:title               content="Snap Backup - {{pageTitle}}">
   <meta property=og:description         content="The one-click backup utility">
   <meta property=og:type                content="website">
   <meta property=og:image               content="{{webRoot}}/graphics/snap-backup-logo-card.png">
   <meta property=og:image:alt           content="Logo">
   <title>Snap Backup &bull; {{pageTitle}}</title>
   <link rel=icon             href={{webRoot}}/graphics/bookmark-icon.png>
   <link rel=apple-touch-icon href={{webRoot}}/graphics/mobile-home-screen.png>
   <link rel=preconnect       href=https://fonts.googleapis.com>
   <link rel=preconnect       href=https://fonts.gstatic.com crossorigin>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@{{package.devDependencies.-fortawesome-fontawesome-free|version}}/css/all.min.css>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/dna-engine@{{package.devDependencies.dna-engine|version}}/dist/dna-engine.css>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/hamburger-menu@{{package.devDependencies.hamburger-menu|version}}/dist/hamburger-menu.min.css>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/web-ignition@{{package.devDependencies.web-ignition|version}}/dist/reset.min.css>
   <link rel=stylesheet       href={{webRoot}}/style.css>
   <script defer src=https://cdn.jsdelivr.net/npm/dna-engine@{{package.devDependencies.dna-engine|version}}/dist/dna-engine.min.js></script>
   <script defer src=https://cdn.jsdelivr.net/npm/hamburger-menu@{{package.devDependencies.hamburger-menu|version}}/dist/hamburger-menu.min.js></script>
   <script defer src=https://cdn.jsdelivr.net/npm/web-ignition@{{package.devDependencies.web-ignition|version}}/dist/lib-x.min.js></script>
   <script defer src={{webRoot}}/app.min.js></script>
</head>
<body>

<nav class=hamburger-menu>
   <a class=hamburger href=#>&#9776;</a>
   <aside>
      <!-- menu -->
      <ul>
         <li data-menu=gateway>  <a href={{webRoot}}>Home</a></li>
         <li data-menu=preview>  <a href={{webRoot}}/screen>Preview</a></li>
         <li data-menu=download> <a href={{webRoot}}/download>Download</a></li>
         <li data-menu=faq>      <a href={{webRoot}}/faq>Answers</a></li>
         <li data-menu=translate><a href={{webRoot}}/translate>Translate</a></li>
         <li data-menu=about>    <a href={{webRoot}}/about>About</a></li>
      </ul>
   </aside>
</nav>

<header>
   <div class=arch><div></div></div>
   <h1>Snap Backup</h1>
   <aside>
      <a href=https://snapbackup.org>
         <img src={{webRoot}}/graphics/snap-backup-icon.png alt=logo>
      </a>
   </aside>
   <a id=fork-me href=https://github.com/snap-backup/snapbackup>Fork me on GitHub</a>
</header>
