/* Live in Style -- Snap Backup */
/* colors: teal (#008080), palegreen (#98FB98), yellow (#FFFF00) */

/* Base */
body { background-image: url(graphics/arches.png); background-repeat: no-repeat; color: teal; margin: 0px; }
sup  { font-size: 70%; }

/* Layout */
.stress { font-weight: bold; font-style: italic; color: teal; }
.sidebar { float: right; clear: right; text-align: center; font-size: 80%; background-color: whitesmoke; padding: 15px; margin: 15px 0px 15px 20px; }
img.screen { border: 3px solid teal; margin: 10px 0px; }

.thumb-box     { text-align: center; background-color: teal; padding: 10px; border: 1px solid silver; }
.thumb-box div { color: palegreen; font-size: 70%; }
.thumb-box a   { color: whitesmoke; font-size: 70%; }

/* Document */
main { display: inline-block; width: 600px; margin: 20px; }
.steps { font-size: 90%; border: 1px solid silver; padding: 2px; margin: 3px 0px 0px 30px; }
h1 { margin: 60px 0px 10px 80px; }
h3 { margin-top: 10px; }
footer { clear: both; width: 400px; text-align: center; color: gray; font-size: 70%; font-family: sans-serif; border-top: 1px solid silver; padding: 10px; margin: 60px auto; }
.footer { clear: both; width: 400px; text-align: center; color: gray; font-size: 70%; font-family: sans-serif; border-top: 1px solid silver; padding: 10px; margin: 60px auto; }

#news { float: left; font-size: 80%; border: dashed 1px teal; width: 170px; padding: 7px 7px 7px 10px; margin: 10px 15px 5px 0px; }
#news .news-header { font-size: 100%; font-weight: bold; text-align: center; color: teal; border: solid teal 1px; background-color: yellow; padding: 1px; margin-bottom: 9px; }
#news .date { display: inline-block; font-style: italic; color: white; background-color: darkgray; padding: 2px 9px 1px 10px; }
#news p { margin: 3px 0px 15px 0px; }

/* Section boxes */
.box-top    { font-weight: bold; font-size: 110%; border: solid teal 1px; text-align: center; background: darkgray; padding: 3px; }
.box-middle { border-left: solid teal 1px; border-right: solid teal 1px; text-align: center; padding: 5px; }
.box-bottom { border: solid teal 1px; text-align: center; padding: 5px 35px; }

body >nav {
   display: flex;
   flex-direction: column;
   float: left;
   margin-top: 220px;
   }
body >nav a,
body >nav a:visited {
   font-size: 1.0rem;
   color: white;
   background-color: teal;
   border-top:   1px solid silver;
   border-right: 1px solid silver;
   padding: 15px 20px; /* button size */
   }
body >nav a:last-child {
   border-bottom: 1px solid silver;
   }
body >nav a.current,
body >nav a:hover {
   color: white;
   background-color: cadetblue;
   }

/* 3rd party */

/* Link colors */
a { border-color: teal; }
a:hover { background-color: teal; outline-color: teal; }

/* Flat button color */
.flat button { background-color: cornflowerblue; }
.flat button:hover { background-color: royalblue; }

/* Reveal action color */
.reveal-action { color: teal; }
.reveal-action:hover { background-color: teal; }

/* PERFECT style colors */
.perfect { border-color: teal; }                                    /* outer color */
.perfect h1 { background-color: teal; }                             /* outer color */
.perfect input, .perfect textarea { background-color: mintcream; }  /* input fields */

/*
form.perfect { border-color: teal; padding: 15px 0px; }
form.perfect h1 { background-color: teal; color: yellow; }
form.perfect label span { width: 14em; }
*/

.google-group { background-color: white; border: 1px solid gray; padding: 5px; }
.google-group img { height: 30px; }

#github-banner {  /* fork me */
   position: absolute;
   top: 0px;
   right: 0px;
   }

/* Hamburger Menu Colors */
/* Configuration */
nav.hamburger-menu .hamburger,
nav.hamburger-menu >ul >li >a {
   color: gainsboro;              /* menu font color */
   }
nav.hamburger-menu .hamburger,
nav.hamburger-menu >ul {
   background-color: teal;       /* menu background color */
   }
nav.hamburger-menu >ul >li.current >a,
nav.hamburger-menu >ul >li:hover >a {
   color: white;                 /* menu font highlight color on hover */
   background-color: lightseagreen;     /* menu background highlight color on hover */
   }
